.trending,
.movie,
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagestitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width:1000px) {
  .pagestitle {
    font-size: 6.4vw;
  }
}